version: '3'

services:
  database:
    image: mariadb:11-jammy
    restart: always
    # would be better to have a local folder where the database files are persisted
    #volumes:
    #- ./database-data:/var/lib/mysql
    networks:
      - backend
    environment:
      - MYSQL_DATABASE=django-demo
      - MYSQL_ROOT_PASSWORD=root-password
  
  app:
      build:
        context: .
        dockerfile: ./Dockerfile
      image: django-demo
      restart:
        always
      networks:
        - backend
        - frontend
      ports:
        - "8000:8000"
             
networks:
  backend:
  frontend: