{% extends 'core/base.html' %}

{% block title %}Basket{% endblock %}

{% block content %}
<div class="container">

    <h2>Basket Overview</h2>

    {% if messages %}
    
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <ul class="messages" style="margin:0px">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>

    {% endif %}

    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">Order Position</th>
                <th scope="col">Product ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            {% for position in order.order_positions %}
                <tr>
                    <td>{{ position.pos }}</td>
                    <td>{{ position.product.id }}</td>
                    <td>{{ position.product.name }}</td>
                    <td>{{ position.product.description }}</td>
                    <td>{{ position.quantity }}</td>
                    <td>{{ position.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% if user.is_authenticated %}
    
    {% if order.order_positions %}

    <div class="order-total">
        <h4>Order Total: ${{ order.total_price }}</h4>
    </div>
    <form method="POST" action="{% url 'orders:place_order' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-success"><i class="bi bi-credit-card"></i> Place Order</button>

        <a class="btn btn-danger" href="{% url 'orders:clear_basket' %}"><i class="bi bi-x-square"></i> Clear Basket</a>
    </form>

   

    {% endif %}


{% else %}
    <p>Please <a href="{% url 'admin:login' %}?next={% url 'orders:basket_overview' %}">log in</a> to place an order.</p>
{% endif %}

</div>
{% endblock %}