 {% load static %}
 
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom:20px">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><i class="bi bi-database"></i> SWD-Lab Example</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link {% if current_path == 'products'%} active {% endif %}" aria-current="page" href="{% url 'products:index' %}"><i class="bi bi-box"></i> Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if current_path == 'orders'%} active {% endif %}" aria-current="page" href="{% url 'orders:order_overview' %}"><i class="bi bi-bag-check"></i> Orders</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link {% if current_path == 'customers'%} active {% endif %}" aria-current="page" href="{% url 'customers:customer-detail' user.pk %}"><i class="bi bi-person-bounding-box"></i> User-Profile</a>
            </li>
            {% endif %}
        </ul>

        <div class="basket-count">
            <a href="{% url 'orders:basket_overview' %}" class="basket-link position-relative">
                <i class="bi bi-basket basket-count-icon">
                    {% if basket_count > 0 %}
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger basket-count-badge">
                        {{ basket_count }}
                        <span class="visually-hidden">basket items</span>
                    </span>
                    {% endif %}
                </i>
            </a>
        </div>

        <div class="dropdown">
            {% if user.is_authenticated %}
            <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle"></i>&nbsp;{{ user.username }}
            </button>
            {% else %}

            <a class="btn btn-success" href="{% url 'admin:login' %}?next=/">
             <i class="bi bi-box-arrow-in-right"></i>&nbsp;Login
            </a>

            {% endif %}
            <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item"><i class="bi bi-envelope-at"></i> {{ user.email }}</a></li>
            
            {% if dbtype == "sqlite" %}
                <li><a class="dropdown-item"><img height="35" src="{% static 'img/sqlite.svg' %}" /> using <strong>SQLite</strong></a></li>
            {% endif %}
            {% if dbtype == "mariadb" %}
                <li><a class="dropdown-item"><img height="25" src="{% static 'img/mariadb.svg' %}" /> using <strong>MariaDB</strong></a></li>
            {% endif %}
            
            <li><a class="dropdown-item" href="{% url 'core:logout' %}">Logout</a></li>
            </ul>
        </div>
        
        </div>
    </div>
</nav>